<li>
	{{type}}

	<button class="change-eaten" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}That was yummy!{{else}}Eat me!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>